/*
For Reference
main color: #ff5722
grey: #e9ecef
*/

.site-container {
    position: relative;
}

@keyframes sidebar-show {
    from {width: 0px; padding: 0;}
    to {width: 250px; padding: 1rem;}
}

@keyframes sidebar-hide {
    from {width: 250px; padding: 1rem;}
    to {width: 0px; padding: 0;}
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  z-index: 1035;
  padding: 0;
}

#sidebar.show {
  animation-name: sidebar-show;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#sidebar.hide {
  animation-name: sidebar-hide;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

#sidebar.sidebar-toggler {
  cursor: pointer;
  overflow: hidden;
}

.sidebar-navitems, .sidebar-header {
  overflow: hidden;
}

.sidebar-navitems .nav-item, .navbar .nav-item {
  color: black !important;
}

#sidebar.sidebar-toggler a {
  outline: 0 !important;
  outline-offset: 0  !important;
}

.navbar {
  position: fixed;
  height: 4em;
  top: 0;
  left: 0;
}

.nav-item.active .nav-link {
  color: #ff5722 !important;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  outline: 0 !important;
  outline-offset: 0 !important;
}

.section-home-body {
  height: calc(100vh - 4em);
  margin-top: 4em !important;
}

#main-carousel {
  height: calc(100% - 8em);
}

#boff-stats {
  background-color: #4D4D4D;
}

.stats-main {
  font-size: 2em;
}

.carousel-item {
}

.carousel-item:nth-child(1){
  background-image: url('./images/car.jpg');
}



.carousel-caption-container {
  /* position: absolute; */
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}

.transluscent-33 {
  background-color: #00000054;
}

.transluscent-66 {
  background-color: #000000a8;
}

.caption-limited {
  overflow: hidden;
}
/*
@media screen and (max-width: 992px) {
  .carousel-caption span {
    font-size: 2.2rem;
    font-weight: 300;
  }
} */

.section-header {
  font-weight: 600;
  font-size: 2em;
}

.section-header .col {
  padding: 1em;
}

.section-header-left {
  justify-content: flex-start;
}

.section-header-right {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .section-header-left .col {
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section-header-right .col {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.section-body {
  min-width: 100%;
  margin-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.section-artists .col {
  background-color: #4768FD;
}

.section-films .col {
  background-color: #FCD230;
}

.section-schedule .col {
  background-color: #64EFCC;
}

.section-news .col {
  background-color: #28A745;
}

.section-about .col {
  background-color: #FF5722;
}

.section-contact, .section-contact-info {
  background-color: #303030;
}

.section-contact-info .col p {
  margin: 0;
}

.infinite-scroller-container {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0;
}

@keyframes infinite-scroller-scroll {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}

.infinite-scroller-content {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 30em;
  background-image: url('./images/artists.png');
  background-size: cover;
  transform: translateX(-100%);
  animation-name: infinite-scroller-scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#schedule-tabs {
  border: 0;
}

.schedule-tab-link {
  font-size: 0.9em;
}

.schedule-tab-link.active {
  border-bottom-width: 3px;
  border-color: #00000000 !important;
  border-bottom-color: #FF5722 !important;
}

.schedule-date-detail {
  font-size: 2em;
}

.table.table-bordered td:first-child {
  width: 30%;
}

.table.table-bordered td:first-child .time {
  font-size: 2em;
}

.schedule-film-name {
  font-size: 1.5em;
}


@media screen and (max-width: 768px) {
  .table.table-bordered td:first-child {
    width: 35%;
  }
  .table.table-bordered td:first-child .time {
    font-size: 1em;
    font-weight: bold;
  }
}

.section-films .col-md-4 {
  margin-bottom: 1em;
}

.film-item-image {
  height: 15em;
}

.film-item {
  height: 20em;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: flex-end;
}

.film-item:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}

.film-item-text-section {
  flex-grow: 0;
  flex-shrink: 1;
  background-color: rgb(0,0,0, 0.8)
}

.film-item-text-section .card-title {
  font-weight: bold;
  margin-bottom: 0;
}

.film-0 {
  background-image: url('./images/film-a-feast.jpg');
  background-size: cover;
  background-position: center;
}

.film-1 {
  background-image: url('./images/film-ja-passou.jpg');
  background-size: cover;
}

.film-2 {
  background-image: url('./images/film-no-necesito.jpg');
  background-size: cover;
}

.film-3 {
  background-image: url('./images/film-my-escape.jpg');
  background-size: cover;
}

.film-4 {
  background-image: url('./images/film-2-57-k.jpg');
  background-size: cover;
}

.film-5 {
  background-image: url('./images/film-ortho.jpg');
  background-size: cover;
}

.film-6 {
  background-image: url('./images/film-big-love.jpg');
  background-size: cover;
}

.film-7 {
  background-image: url('./images/film-a-bomb.jpg');
  background-size: cover;
}

.film-8 {
  background-image: url('./images/film-circus.jpg');
  background-size: cover;
}

.film-9 {
  background-image: url('./images/film-done-deal.jpg');
  background-size: cover;
}

.film-10 {
  background-image: url('./images/film-little-things.jpg');
  background-size: cover;
}

.film-11 {
  background-image: url('./images/film-loft.png');
  background-size: cover;
}

.news-item {
  cursor: pointer;
}

.news-image {
  width: 100px;
  height: auto;
}

.navbar-other {
  overflow: hidden;
}

.btn-register {
  line-height: 1.5em;
  margin-left: 1em;
}

.fa {
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  line-height: 2em;
  width: 2em;
  margin: 0em 0.25em 0em 0.25em;
  background: #3B5CA0;
}

.fa-twitter {
  line-height: 2em;
  width: 2em;
  margin: 0em 0.25em 0em 0.25em;
  background: #4D89CA;
  color: white;
}

.instagram {
  width: 2em;
  height: 2em;
  text-align: center;
  color: #fff;
  line-height: 2em;
  vertical-align: middle;
  border-radius: 0.25rem;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
