/*
For Reference
main color: #ff5722
grey: #e9ecef
*/

.site-container {
    position: relative;
    height: 100%;
}

@keyframes sidebar-show {
    from {width: 0px; padding: 0;}
    to {width: 250px; padding: 1rem;}
}

@keyframes sidebar-hide {
    from {width: 250px; padding: 1rem;}
    to {width: 0px; padding: 0;}
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  z-index: 1035;
  padding: 0;
}

#sidebar.show {
  animation-name: sidebar-show;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#sidebar.hide {
  animation-name: sidebar-hide;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

#sidebar.sidebar-toggler {
  cursor: pointer;
  overflow: hidden;
}

.sidebar-navitems, .sidebar-header {
  overflow: hidden;
}

#sidebar.sidebar-toggler a {
  outline: 0 !important;
  outline-offset: 0  !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  outline: 0 !important;
  outline-offset: 0 !important;
}

#main-carousel {
  height: 400;
}

.carousel-item img {
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.transluscent-33 {
  background-color: #00000054;
}

.transluscent-66 {
  background-color: #000000a8;
}

.caption-limited {
  overflow: hidden;
}

.carousel-caption.center {
  position: absolute;
  padding-top: 0;
  top: 40%;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .carousel-caption span {
    font-size: 2.2rem;
    font-weight: 300;
  }
}

.section-header {
  font-weight: 600;
  font-size: 2em;
}

.section-header .col {
  padding: 1em;
}

.section-header-left {
  justify-content: flex-start;
}

.section-header-right {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .section-header-left .col {
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section-header-right .col {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.section-body {
  min-width: 100%;
  margin-top: 2em;
}

.section-artists .col {
  background-color: #4768FD;
}

.section-movies .col {
  background-color: #FF5722;
}

.section-schedule .col {
  background-color: #FCD230;
}

.section-about .col {
  background-color: #64EFCC;
}

.section-contact .col {
  background-color: #303030;
}

.infinite-scroller-container {
  min-width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  height: 20em;
  overflow: hidden;
}

@keyframes infinite-scroller-scroll {
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}

@keyframes infinite-scroller-fake-loop-scroll {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}

.infinite-scroller {
}

.infinite-scroller-content {
  width: 100%;
  background-image: url('./images/artists.png');
  background-size: cover;
  display: flex;
}

.infinite-scroller:nth-child(1) {
  animation-name: infinite-scroller-fake-loop-scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.infinite-scroller:nth-child(2) {
  animation-name: infinite-scroller-scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
